<%- include('../partials/header') %>


<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
	<h2><%= user.name %>'s Team</h2>
	
	
	<% if (user.team.length !== 0) { %>	
	<ul>
		<%- user.team.map(t => 
			`<li>${t.name}</li>`
		).join('') %>
	</ul>
	<% } else { %>
		<p>No Teams yet!  Build one out!</p>
		<% } %>
	<a href="/teams/new">Create New Team</a>
<% } %>

<%- include('../partials/footer') %>
