<%- include('../partials/header') %>


<% if (!user) { %>
	<p>please login to continue</p>
<% } else { %>
    <form action="/tournaments/<%= tournamentId %>/teams" method="POST">
        <label for="name">Team Name: </label>
        <input name="name" type="text">
        <input name="tournament" type="text" value="<%= tournamentId %>" hidden>
        <button type="submit">Create Team</button>
    </form>
	
<% } %>

<%- include('../partials/footer') %>
